<pre>
      *     
      |     
 _____|___  
|   \   / | 
|  ()   ()| - twobot admin
| ########| 
------------
</pre>

<div class="section">
  <h4>system status:
  <span class="system_status">
    <%= File.exists?(File.join(APP_ROOT, "bin", "twobotd.pid")) ? "started : <a href=\"/stop\">stop</a>" : "stopped : <a href=\"/start\">start</a>"%>
  </span>
  </h4>
</div>

<a href="#" onclick="$('#add_twobot').toggle()">add a new twobot</a>
<br /><br />
<div id="add_twobot" class="section" style="display:none">
  <form method="post" action="/twobot">
    <label for="name">name:</label>
    <input type="text" name="name"></input>
    <input type="submit" value="add"></input>
  </form>
</div>

<div class="section">
<h4>twobots:</h4>
<table border="1" cellspacing="0" cellpadding="5">
  <tr>
      <th>id</th>
      <th>name</th>
      <th>search count</th>
      <th>search action count</th>
      <th>status</th>
      <th></th>
  </tr>
  <% Twobot.all.each do |twobot| %>
  <tr>
    <td><%=twobot.id%></td>
    <td><%=twobot.name%></td>
    <td><%=twobot.searches.count%></td>
    <td><%=twobot.searches.collect{|search|search.actions}.flatten.size%></td>
    <td><%=twobot.status == "active" ? "active <a href=\"/twobot/#{twobot.id}/deactivate\">deactivate</a>" : "inactive <a href=\"/twobot/#{twobot.id}/activate\">activate</a>"%></td>
    <td><a href="/twobot/<%=twobot.id%>">view</td>
  </tr>
  <% end %>
</table>
</div>